@model Handled.Models.ViewModels.CyclistPhotoUploadViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cyclist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cyclist.CyclistId" />
            <div class="form-group">
                <label asp-for="Cyclist.FirstName" class="control-label"></label>
                <input asp-for="Cyclist.FirstName" class="form-control" />
                <span asp-validation-for="Cyclist.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cyclist.LastName" class="control-label"></label>
                <input asp-for="Cyclist.LastName" class="form-control" />
                <span asp-validation-for="Cyclist.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cyclist.Email" class="control-label"></label>
                <input asp-for="Cyclist.Email" class="form-control" />
                <span asp-validation-for="Cyclist.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cyclist.Password" class="control-label"></label>
                <input asp-for="Cyclist.Password" class="form-control" />
                <span asp-validation-for="Cyclist.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cyclist.Age" class="control-label"></label>
                <input asp-for="Cyclist.Age" class="form-control" />
                <span asp-validation-for="Cyclist.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cyclist.Weight" class="control-label"></label>
                <input asp-for="Cyclist.Weight" class="form-control" />
                <span asp-validation-for="Cyclist.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cyclist.Height" class="control-label"></label>
                <input asp-for="Cyclist.Height" class="form-control" />
                <span asp-validation-for="Cyclist.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
