@model Handled.Models.BicycleRider

@{
    ViewData["Title"] = "Delete";
}

<h2>Put this bike away for a while:</h2>

<h3>Are you sure you want to throw in the towel?</h3>
<div>
    <h4>BicycleRider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cyclist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cyclist.Email)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bicycle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bicycle.VIN)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BicycleRiderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
