@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">HANDLED</h1>
    <h3>An Incident Report Application targeted towards cyclists</h3>
    <p>Learn more about  
        <a href="https://bikesafeboston.com/post/82778983928/what-should-i-do-if-im-hit-by-a-car">
        what you should do in a situation</a> where you have had an accident!
    </p>
    <h5>Because your privacy is important to us, please register or log-in to view content.</h5>
</div>
