@model Handled.Models.ViewModels.CarDriverViewModel

@{
    ViewData["Title"] = "CarDriverConfirm";
}

<h2>Confirm driver and car:</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="CarDriver.DriverId" class="control-label"></label>*@
                <p>Confirm Driver of vehicle:</p>
                <select asp-for="CarDriver.DriverId" class="form-control" asp-items="ViewBag.DriverId"></select>
            </div>
            <div class="form-group">
                @*<label asp-for="CarDriver.CarId" class="control-label"></label>*@
                Confirm Vehicle make:
                <select asp-for="CarDriver.CarId" class="form-control" asp-items="ViewBag.CarId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
